{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<form method="post">

  {{ govukBackLink({
            text: "Back",
            href: "javascript:history.go(-1)"
                            }) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-form-group">

        <h1 class="govuk-heading-xl">Which countries have you worked in?</h1>
        <div id="event-name-hint" class="govuk-hint">
      If you worked in the same country more than once, you'll need to add it again. You can add up to 4 countries.

        </div>
        <div class="govuk-form-group">
          <label class="govuk-label" for="width-20">
            Country name
          </label>

          <input class="govuk-input govuk-input--width-20" id="width-20" name="width-20" type="text">
        </div>

<br><br>

        <p><a href="#" class="govuk-link govuk-link--no-visited-state">Add another country</a></p>

    </div>


    <br>
    <br>



      <button class="govuk-button" data-module="govuk-button">
        Continue
      </button>
      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
      <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text">
      <b>URL, errors and notes</b>
      </span>
      </summary>
      <div class="govuk-details__text">
      <b>URL:</b> <br><br>
      <b>Error messages:</b><br>
        Empty: Enter the name of a country you worked in<br>
        Invalid: Country name must start with a letter and only include letters, spaces, hyphens or brackets

      </div>
      </details>

</div>
    <div class="govuk-grid-column-one-third">
      {% include 'includes/parts/help.html' %}
    </div>

  </div>



</form>


  {% endblock %}
