{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<form method="post">

  {{ govukBackLink({
            text: "Back",
            href: "javascript:history.go(-1)"
                            }) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-form-group">
        <span class="govuk-caption-xl">Country 2 of 2</span>
        <h1 class="govuk-heading-xl">Italy</h1>

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
              <h1 class="govuk-fieldset__heading">
                When did you work in Italy?
              </h1>
            </legend>



            <br>
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
              <h1 class="govuk-fieldset__heading">
                From
              </h1>
            </legend>
            <div class="govuk-date-input" id="passport-issued">
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
                    Month
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="passport-issued-month" type="text" inputmode="numeric">
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
                    Year
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year" name="passport-issued-year" type="text" inputmode="numeric">
                </div>
              </div>
            </div>

            <br><br>

            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
              <h1 class="govuk-fieldset__heading">
                To
              </h1>
            </legend>
            <div class="govuk-date-input" id="passport-issued">
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
                    Month
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="passport-issued-month" type="text" inputmode="numeric">
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
                    Year
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year" name="passport-issued-year" type="text" inputmode="numeric">
                </div>
              </div>
            </div>

          </fieldset>
        </div>


    </div>


    <br>

    <div class="govuk-form-group">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
    <h2 class="govuk-fieldset__heading">What is your social security number in Italy?</h2>
    </legend>
      <div id="event-name-hint" class="govuk-hint">
        This is similar to a UK National Insurance number.
      </div>
      <input class="govuk-input govuk-input--width-20" id="width-20" name="width-20" type="text">
    </div>




      <button class="govuk-button" data-module="govuk-button">
        Continue
      </button>
      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
      <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text">
      <b>URL, errors and notes</b>
      </span>
      </summary>
      <div class="govuk-details__text">
      <b>URL: <br><br>
        Error messages:<br><br>

          From</b><br>
            Empty: Enter the date you worked in Italy from<br>
            Invalid: The date you worked in Italy from must include a month and year<br>
            Invalid: The 'from' date must be before the 'to' date<br>
            Future: The date you worked in Italy from must be in the past <br><br>

      <b>To</b><br>
            Empty: Enter the date you worked in Italy to<br>
            Invalid: The date you worked in Italy to must include a month and year<br>
            Invalid: The 'to' date must be after the 'from' date<br>
            Future: The date you worked in Italy to must be in the past<br><br>
      <b>Social security number</b><br>
            Empty: Enter a social security number<br>
            Invalid: Social security number must only include letters, numbers, hyphens, spaces, forward slashes and full stops<br>
            Length: Social security number must be 24 characters long or less<br>
                    <br>
      </div>
      </details>

    </div>

    <div class="govuk-grid-column-one-third">
      {% include 'includes/parts/help.html' %}
    </div>

  </div>



</form>


  {% endblock %}
