

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <dl>
      <dt class="govuk-heading-s">Date of design</dt>
      <dd class="govuk-body" style="margin-left:0%">July 2022</dd>
    </dl>
  </div>

</div>

<br><br>
  <h2 class="govuk-heading-m">Asking citizens about the time they have spent
  living and working abroad</h2>

  <p class="govuk-body">Including:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>How can we inform citizens we do not need information about periods they lived or worked abroad before 16 years of age</li>
    <li>Should we gather information about a citizens foreign pension - NI contributions and/or if they are claiming foreign benefit</li>
    <li>How can we gather multiple periods of living in the same country</li>
    <li>Consider the 4 country limit</li>
    <li>Consistency with paper and telephone claim journeys</li>
  </ul>

<a href="abroad/iteration-1/start" class="govuk-button govuk-button--start">Start now</a><br>
