

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <dl>
      <dt class="govuk-heading-s">Date of design</dt>
      <dd class="govuk-body" style="margin-left:0%">January 2021</dd>
    </dl>
  </div>

  <div class="govuk-grid-column-two-thirds">
    <dl>
      <dt class="govuk-heading-s">Designers</dt>
      <dd class="govuk-body" style="margin-left:0%">Kieran and Becky</dd>
    </dl>
  </div>
</div>

<br>
  <h2 class="govuk-heading-m">Additional security if a citizen does not pass bank authentication</h2>

  <p>
  </p>

  <h2 class="govuk-heading-s">Invitation code journey</h2>
<a href="additionalsecurity/start" class="govuk-button govuk-button--start">Start now</a><br>

<a href="#" class="govuk-link"><b>Research documentation</b></a>
