

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <dl>
      <dt class="govuk-heading-s">Date of design</dt>
      <dd class="govuk-body" style="margin-left:0%">September 2021</dd>
    </dl>
  </div>

  <div class="govuk-grid-column-two-thirds">
    <dl>
      <dt class="govuk-heading-s">Designers</dt>
      <dd class="govuk-body" style="margin-left:0%">Becky and Kieran</dd>
    </dl>
  </div>
</div>

<br><br>
  <h2 class="govuk-heading-m">Option to select alternative formats</h2>

  <p>To allow citizens to select if they require communications in an alternative format.
  </p>

  <h2 class="govuk-heading-s">All options together</h2>
<a href="altformats/start" class="govuk-button govuk-button--start">Start now</a><br>

  <h2 class="govuk-heading-s">Telephone and writing</h2>
<a href="altformats2/start" class="govuk-button govuk-button--start">Start now</a><br>
