

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <dl>
      <dt class="govuk-heading-s">Date of design</dt>
      <dd class="govuk-body" style="margin-left:0%">August 2021</dd>
    </dl>
  </div>

  <div class="govuk-grid-column-two-thirds">
    <dl>
      <dt class="govuk-heading-s">Designers</dt>
      <dd class="govuk-body" style="margin-left:0%">Becky and Kieran</dd>
    </dl>
  </div>
</div>

<br><br>
  <h2 class="govuk-heading-m">Citizen claiming after their State Pension date</h2>


<h2 class="govuk-heading-s">
</h2>

<p>To allow the GySP service to start accepting late claims we will need to ask the claimant if they have spent any time in prison since reaching State Pension age
    or since the date of suspension.</p>

<br>

<a href="claimdate/start" class="govuk-button govuk-button--start">Start now</a><br>
