

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <dl>
      <dt class="govuk-heading-s">Date of design</dt>
      <dd class="govuk-body" style="margin-left:0%">February 2022</dd>
    </dl>
  </div>

  <div class="govuk-grid-column-two-thirds">
    <dl>
      <dt class="govuk-heading-s">Designers</dt>
      <dd class="govuk-body" style="margin-left:0%">Becky, Matt & Kieran</dd>
    </dl>
  </div>
</div>

<br>
  <h2 class="govuk-heading-m">Eligible citizens can request an invitation code</h2>

  <p> Identity solution to replace GOV.UK Verify
  </p>

<a href="invite-request/start" class="govuk-button govuk-button--start">Start now</a><br>

<a href="#" class="govuk-link"><b>Research documentation</b></a>
