

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <dl>
      <dt class="govuk-heading-s">Date of design</dt>
      <dd class="govuk-body" style="margin-left:0%">January 2021</dd>
    </dl>
  </div>

  <div class="govuk-grid-column-two-thirds">
    <dl>
      <dt class="govuk-heading-s">Designers</dt>
      <dd class="govuk-body" style="margin-left:0%">Emily Wilkinson and Colin Jones </dd>
    </dl>
  </div>
</div>

<br><br>
  <h2 class="govuk-heading-m">Asking how often a claimant would like to be paid</h2>

<!-- 
<span class="govuk-tag govuk-tag--turquoise">not tested
</span> -->

<!-- <h2 class="govuk-heading-s">Business requirements
</h2>

<ul class="govuk-list govuk-list--bullet">
  <li> </li>
</ul> -->

<h2 class="govuk-heading-s">Iterations based on newly identified needs:
</h2>

<ul class="govuk-list govuk-list--bullet">
  <li>Introducing a new question asking claimants if they want to be paid every 4 weeks, and if not, giving them the option to select a new payment frequency</li>
  <li>Minor content changes to ensure consistency with what has recently tested well in paper claims research and removing any passive questions.</li>
  <li>Change to how we gather phone numbers (experimental) – currently we ask users to select the type of phone number they’re providing from home, work or mobile and then they enter the relevant number. Previous analysis showed that majority of users don’t leave a work phone number. Also, do we need users to specify the difference between a mobile and landline or can this be done in the back end.</li>
  <li>Added bank details to check your answers page</li>
</ul>

<!-- <h2 class="govuk-heading-s">Research notes
</h2>

<ul class="govuk-list govuk-list--bullet">
  <li> </li>
</ul>

<h2 class="govuk-heading-s">Related stories
</h2>

<ul class="govuk-list govuk-list--bullet">
  <li> </li>
</ul>


<a href="" class="govuk-body"><b>Research document</b></a>
<br> <br> <br> -->

<a href="sprint90/start" class="govuk-button govuk-button--start">Start now</a><br>