.autocomplete__wrapper{position:relative}
.autocomplete__hint,
.autocomplete__input
{-webkit-appearance:none;border:
  2px solid #0b0c0c;
  border-radius:0;
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  margin-bottom:0;width:100%}

.autocomplete__input
{background-color:transparent;position:relative}

.autocomplete__hint
{color:#b1b4b6;position:absolute}

.autocomplete__input--default
{padding:5px}

.autocomplete__input--focused
{outline:3px solid #fd0;outline-offset:0;box-shadow:inset 0 0 0 2px}

.autocomplete__input--show-all-values
{padding:5px 34px 5px 5px;cursor:pointer}

.autocomplete__dropdown-arrow-down
{z-index:-1;
  display:inline-block;position:absolute;right:8px;width:24px;height:24px;top:10px}

  <style>
    /* Example page specific styling. */
    html {
      color: #111;
      background: #FFF;
      font-family: -apple-system, BlinkMacSystemFont, 'avenir next', avenir, 'helvetica neue', helvetica, ubuntu, roboto, noto, 'segoe ui', arial, sans-serif;
      font-size: 16px;
      line-height: 1.5;
    }

    body {
      padding-left: 1rem;
      padding-right: 1rem;
    }

    h1, h2, h3, h4, h5, h6 {
      line-height: normal;
    }

    label {
      display: block;
      margin-bottom: .5rem;
    }

    code {
      padding-left: .5em;
      padding-right: .5em;
      background: #EFEFEF;
      font-weight: normal;
      font-family: monospace;
    }

    main {
      max-width: 40em;
      margin-left: auto;
      margin-right: auto;
    }

    .autocomplete-wrapper {
      max-width: 20em;
      margin-bottom: 4rem;
    }

    .submitted--hidden {
      display: none;
    }
