{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<form method="post" action="lived-abroad">

  <a href="your-details" class="govuk-back-link">Back</a>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
You'll get a one-off payment</h1>

<p class="govuk-body">You have chosen to wait X weeks before getting your State Pension.</p>

<p class="govuk-body">When your payments start, we will also send a one-off payment for these weeks.
</p>
<p class="govuk-body">
You could increase your weekly payments instead by <a href="https://www.gov.uk/deferring-state-pension">deferring your State Pension (opens in a new tab)</a>.</p>

<br>
<br>
<br>
      <button class="govuk-button" data-module="govuk-button">
        Continue
      </button>
      <p class="govuk-body"><a href="spa" class="govuk-link">Chose another date</a></p>

      <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

    </div>

    <div class="column-one-third">
      {% include 'includes/parts/help.html' %}
    </div>

  </div>



</form>


  {% endblock %}
