{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<form method="post" action="lived-abroad">

  <a href="post-spa" class="govuk-back-link">Back</a>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
You'll get a one-off payment</h1>

<p class="govuk-body">When your State Pension starts, you will also get a one-off payment covering the period <strong>12 April 2022</strong> to <strong>5 June 2022</strong>.

</p>
<p class="govuk-body">We'll write to you to confirm how much you will get.</p>


<p class="govuk-body">
If you choose a start date later than <strong>14 June 2022</strong>, you could <a href="https://www.gov.uk/deferring-state-pension">increase your weekly payments (opens in a new tab)</a>.</p>

<br>
<br>
<br>

<div class="govuk-button-group">
<button class="govuk-button" data-module="govuk-button">
Continue
</button>

<a class="govuk-link" href="spa">Choose another date</a>
</div>

      <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

    </div>

    <div class="column-one-third">
      {% include 'includes/parts/help.html' %}
    </div>

  </div>



</form>


  {% endblock %}
