{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<form method="post" action="lived-abroad">

  <a href="your-details" class="govuk-back-link">Back</a>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
You do not need to claim your State Pension yet      </h1>

<p class="govuk-body">If you want your State Pension to start more than 4 months from today, you do not need to let us know yet.</p>

<p class="govuk-body">To get your State Pension from <strong>1 September 2022</strong> come back on <strong>1 May 2022</strong>.</p>

<br>
<br>
      <button class="govuk-button" data-module="govuk-button">
        Exit
      </button>
      <p class="govuk-body"><a href="spa" class="govuk-link">Chose another date</a></p>

      <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

    </div>

    <div class="column-one-third">
      {% include 'includes/parts/help.html' %}
    </div>

  </div>



</form>


  {% endblock %}
