{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<form method="post" action="lived-abroad">

  <a href="post-spa" class="govuk-back-link">Back</a>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
Check your start date</h1>

<div class="govuk-inset-text">If you start your State Pension on the <b>5 June 2022</b> you will lose some of the payments you are entitled to.</div>
  
  <!--
If you start your State Pension on:<br><br> 
<ul class="govuk-list govuk-list--bullet">  <li>5 June 2022 you will miss some regular payments</li>
  <li>12 April 2022 you will not miss any regular payments</li>
<li> a date later than 14 June 2022, you could <a href="https://www.gov.uk/deferring-state-pension">increase your weekly payments (opens in a new tab)</a>.</li></ul>




<div class="govuk-form-group">
  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
      <h2 class="govuk-fieldset__heading">
When do you want your State Pension to start?      </h2>
    </legend>
    <div class="govuk-radios" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="where-do-you-live" name="where-do-you-live" type="radio" value="england">
        <label class="govuk-label govuk-radios__label" for="where-do-you-live">
5 June 2022        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="where-do-you-live-2" name="where-do-you-live" type="radio" value="scotland">
        <label class="govuk-label govuk-radios__label" for="where-do-you-live-2">
12 April 2022        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="where-do-you-live-3" name="where-do-you-live" type="radio" value="wales">
        <label class="govuk-label govuk-radios__label" for="where-do-you-live-3">
A later date        </label>
      </div>
      
    </div>

  </fieldset>
</div> -->

<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="sign-in-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
      <h2 class="govuk-fieldset__heading">
When do you want your State Pension to start?         </h2>
    </legend>
    <div class="govuk-radios__item">
      <input class="govuk-radios__input" id="sign-in-2" name="sign-in" type="radio" value="govuk-verify" aria-describedby="sign-in-2-item-hint">
      <label class="govuk-label govuk-radios__label" for="sign-in-2">
        12 April 2022
      </label>
      <div id="sign-in-2-item-hint" class="govuk-hint govuk-radios__hint">
        You'll get all of the payments you are entitled to
      </div>
            </div>
    <div class="govuk-radios" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="sign-in" name="sign-in" type="radio" value="government-gateway" aria-describedby="sign-in-item-hint">
        <label class="govuk-label govuk-radios__label" for="sign-in">
5 June 2022          </label>
        <div id="sign-in-item-hint" class="govuk-hint govuk-radios__hint">
You'll lose some of the payments you are entitled to       </div>
      </div>


      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="sign-in-2" name="sign-in" type="radio" value="govuk-verify" aria-describedby="sign-in-2-item-hint">
        <label class="govuk-label govuk-radios__label" for="sign-in-2">
          A later date
        </label>
        <div id="sign-in-2-item-hint" class="govuk-hint govuk-radios__hint">
You could <a href="https://www.gov.uk/deferring-state-pension">increase your regular payments (opens in a new tab)</a></div>
      </div>
    </div>

  </fieldset>
</div>
  <button class="govuk-button" data-module="govuk-button">
    Continue
  </button>


      <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

    </div>

    <div class="column-one-third">
      {% include 'includes/parts/help.html' %}
    </div>

  </div>



</form>


  {% endblock %}
