{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<form method="post" action="lived-abroad">

  <a href="your-details" class="govuk-back-link">Back</a>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
Your State Pension payments will be higher   </h1>

<p class="govuk-body">You have chosen to defer your pension for X weeks. We will increase your payments by X%.</p>



      <button class="govuk-button" data-module="govuk-button">
        Continue
      </button>
      <p class="govuk-body"><a href="spa" class="govuk-link">Chose another date</a></p>

      <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

    </div>

    <div class="column-one-third">
      {% include 'includes/parts/help.html' %}
    </div>

  </div>



</form>


  {% endblock %}
