{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<form method="post" action="lived-abroad">

  <a href="your-details" class="govuk-back-link">Back</a>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
Your State Pension payments will increase</h1>

<p class="govuk-body">You have chosen to defer getting your State Pension.</p>

<p class="govuk-body">Your State Pension increases by just over 0.1% for every week you defer. This works out at just under 5.8% a year.</p>

<p class="govuk-body">We'll write to you to confirm <a href="https://www.gov.uk/deferring-state-pension/what-you-get">how much you'll get (opens in a new tab)</a>.</p>



<div class="govuk-button-group">
<button class="govuk-button" data-module="govuk-button">
Continue
</button>

<a class="govuk-link" href="spa">Choose another date</a>
</div>
      <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

    </div>

    <div class="column-one-third">
      {% include 'includes/parts/help.html' %}
    </div>

  </div>



</form>


  {% endblock %}
