{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<form method="post" action="your-date-of-birth">

<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds">
  <span class="govuk-caption-l">Request an invitation code
    <br></span>
<h1 class="govuk-heading-xl">You cannot request your invitation code yet</h1>

<p class="govuk-body">We will post your invitation code to your home address 3 months before you reach State Pension age. This is sent automatically.</p>

<p class="govuk-body">If you do not receive your code by <strong>17 September 2022</strong>, come back and request one.</p>

<!-- <p class="govuk-body">You can only request an invitation code to claim your State Pension if either:

  <ul class="govuk-list govuk-list--bullet">
    <li>you have already reached State Pension age</li>
    <li>you will reach State Pension age in the next 3 months</li>
  </ul> -->




                      </div>
                    </div>

                    <br>
                      <details class="govuk-details" data-module="govuk-details">
                        <summary class="govuk-details__summary">
                          <span class="govuk-details__summary-text">
                          <b>URL, errors and notes</b>
                          </span>
                        </summary>
                        <div class="govuk-details__text">
                          <b>URL:</b> /invite-request/cannot-request-code <br>
                        </div>
                      </details>


</form>



{% endblock %}
