{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<form method="post" action="your-date-of-birth">

  <div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds">

<div class="govuk-panel govuk-panel--confirmation">
<h1 class="govuk-panel__title">Invitation code requested</h1>

<div class="govuk-panel__body">Your reference number is your National Insurance number</div>
</div>

<!-- <div class="govuk-inset-text">This is <b>NOT</b> a claim for State Pension!!!</div> -->

<h2 class="govuk-heading-m">What happens next</h2>

<p class="govuk-body">You should receive your invitation code by post within the next 5 days.</p>

<p class="govuk-body">Once you receive your invitation code, you can <a href="start">get your State Pension</a>.</p>

</div>

</div>

<br>

<details class="govuk-details" data-module="govuk-details">

  <summary class="govuk-details__summary">
<span class="govuk-details__summary-text">
<b>URL, errors and notes</b></span></summary>

<div class="govuk-details__text">
<b>URL:</b> /invite-request/code-requested  
</div>
</details>


</form>



{% endblock %}
