{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<form method="post" action="check-details-code">

  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1)"
                    }) }}

                    <div class="govuk-grid-row">

                      <div class="govuk-grid-column-two-thirds">
                        <span class="govuk-caption-l">Request an invitation code
                          <br></span>
                        <h1 class="govuk-heading-xl">
                        Confirm your full address
                        </h1>

                        <div class="govuk-form-group">
                          <fieldset class="govuk-fieldset">
                            <div class="govuk-radios" data-module="govuk-radios">
                              <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="where-do-you-live" name="where-do-you-live" type="radio" value="england">
                                <label class="govuk-label govuk-radios__label" for="where-do-you-live">
                                  29 New Street, Southend on Sea, SS94 3JN
                                </label>
                              </div>
                              <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="where-do-you-live-2" name="where-do-you-live" type="radio" value="scotland">
                                <label class="govuk-label govuk-radios__label" for="where-do-you-live-2">
                                  19 New Street, Southend on Sea, SS94 3JN
                                </label>
                              </div>
                              <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="where-do-you-live-3" name="where-do-you-live" type="radio" value="wales">
                                <label class="govuk-label govuk-radios__label" for="where-do-you-live-3">
                                  9 New Street, Southend on Sea, SS94 3JN
                                </label>
                              </div>

                              <div class="govuk-radios__divider">or</div>
                              <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="where-do-you-live-4" name="where-do-you-live" type="radio" value="northern-ireland">
                                <label class="govuk-label govuk-radios__label" for="where-do-you-live-4">
                                I want to enter my address manually
                                </label>
                              </div>
                            </div>

                          </fieldset>
                        </div>

                        <button class="govuk-button" data-module="govuk-button">
                          Continue
                        </button>

                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                  
                      </div>
                      <div class="column-one-third">
                        {% include 'includes/parts/helpstart.html' %}
                      </div>
                    </div>

                    <br>
                      <details class="govuk-details" data-module="govuk-details">
                        <summary class="govuk-details__summary">
                          <span class="govuk-details__summary-text">
                          <b>URL, errors and notes</b>
                          </span>
                        </summary>
                        <div class="govuk-details__text">
                          <b>URL:</b> /confirm-full-address  <br>
                          <b>Error messages:</b>
                          <br>Nothing selected: Select your full address
                        </div>
                      </details>


</form>



{% endblock %}
