{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds">
  <span class="govuk-caption-l">Request an invitation code
    <br></span>
<h1 class="govuk-heading-xl">Sorry, there is a problem with the service</h1>

<p class="govuk-body">Try again later.</p>

<p class="govuk-body">We have not saved your answers. When the service is available, you will have to start again.</p>
<br>

<h2 class="govuk-heading-m">If you need to claim your State Pension urgently</h2>

<p class="govuk-body">If you cannot wait until the service is working again, you can call us to claim your State Pension.</p>

<p class="govuk-body"><strong>Telephone: 0800 169 0154
<br>Textphone: 0800 169 0254</strong></p>

<p><a href="https://www.relayuk.bt.com" class="govuk-link" rel="noreferrer noopener" target="_blank">Relay UK (opens in a new tab)</a>: dial 18001 then 0800 169 0154</p>

<p>British Sign Language users can <a href="https://dwpstatepensionth.signvideo.net" class="govuk-link" rel="noreferrer noopener" target="_blank">contact DWP using the video relay service on SignVideo (opens in a new tab)</a>.</p>

<p><a href="https://www.youtube.com/watch?v=Osx7FFxFpNY" class="govuk-link" rel="noreferrer noopener" target="_blank">Check how to use the video relay service (opens in a new tab)</a>.

<p class="govuk-body-m">Monday to Friday, 9:30am to 3:30pm (closed on public holidays)


                      </div>
                    </div>

                    <br>
                      <details class="govuk-details" data-module="govuk-details">
                        <summary class="govuk-details__summary">
                          <span class="govuk-details__summary-text">
                          <b>URL, errors and notes</b>
                          </span>
                        </summary>
                        <div class="govuk-details__text">
                          <b>URL:</b> /invite-code-problem <br>
                        </div>
                      </details>


</form>



{% endblock %}
