{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<form method="post" action="your-date-of-birth">

  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1)"
                    }) }}

                    <div class="govuk-grid-row">

                      <div class="govuk-grid-column-two-thirds">
                        
                        <h1 class="govuk-heading-xl">
                          Request an invitation code
                        </h1>


                        <p class="govuk-body">If you do not have your invitation code we can send you one in the post.</p>

                        <p class="govuk-body">To get an invitation code, you will need to tell us your:</p>
                        
                        <ul class="govuk-list govuk-list--bullet">
                          <li>date of birth</li>
                          <li>name</li>
                          <li>UK home address</li>
                        </ul>


                        <p class="govuk-body">Once your code arrives, you can claim your State Pension online.</p>

                        <button class="govuk-button" data-module="govuk-button">
                          Continue
                        </button>

                      </div>
                    </div>

<br>

<details class="govuk-details" data-module="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
    <b>URL, errors and notes</b>
    </span>
  </summary>
  <div class="govuk-details__text">
    <b>URL:</b>  <br>
    <b>Error messages:</b>
  </div>
</details>



</form>



{% endblock %}
