{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<form method="post" action="your-address">

                    <div class="govuk-grid-row">

                      <div class="govuk-grid-column-two-thirds">
                        <span class="govuk-caption-l">Request an invitation code
                          <br></span>
                        <h1 class="govuk-heading-xl">
                          No addresses found
                        </h1>

                        <p>There are no results for <b>1</b> and <b>SS94 3JN</b>.</p>



                        <br>

                        <button class="govuk-button" data-module="govuk-button">
                          Search again
                        </button>

                        <br><a href="what-is-your-address" class="govuk-link">Enter address manually</a>

                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                      
                      </div>
                      <div class="column-one-third">
                        {% include 'includes/parts/helpstart.html' %}
                      </div>
                    </div>

                    <br>
                      <details class="govuk-details" data-module="govuk-details">
                        <summary class="govuk-details__summary">
                          <span class="govuk-details__summary-text">
                          <b>URL, errors and notes</b>
                          </span>
                        </summary>
                        <div class="govuk-details__text">
                          <b>URL:</b> /no-addresses-found  <br>
                          <b>Error messages:</b>
                        </div>
                      </details>


</form>



{% endblock %}
