{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<form method="post" action="your-name">

  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1)"
                    }) }}

                    <div class="govuk-grid-row">

                      <div class="govuk-grid-column-two-thirds">

                        <h1 class="govuk-heading-xl">
                          Request an invitation code
                        </h1>

                        <p class="govuk-body">To protect you from fraud we need to send an invitation code by post to your home address.</p>

                        <p class="govuk-body">You can request a code if you:</p>

                        <ul class="govuk-list govuk-list--bullet">
                          <li>will reach State Pension age in the next 3 months</li>
                          <li>have not received your code or have lost it</li>
                        </ul>
             
                        <!-- <p class="govuk-body">If you will reach State Pension age in the next 3 months and do not have your code, we can send you one in the post.</p>

                        <p class="govuk-body">We usually post your invitation code to your home address 3 months before you reach State Pension age.</p>

                        <p class="govuk-body">If you do not have your invitation code and you'll reach State Pension age in the next 3 months, we can send you one in the post.</p> 

                        <p class="govuk-body">To request a code, you will need to tell us your:</p>

                        <ul class="govuk-list govuk-list--bullet">
                          <li>name</li>
                          <li>date of birth</li>
                          <li>UK home address</li>
                        </ul> -->

                        <p class="govuk-body">You should receive your invitation code within 5 days of requesting it. You can then return to GOV.UK to <a href="start">get your State Pension</a>.</p>

                        <button class="govuk-button" data-module="govuk-button">
                          Continue
                        </button>

                      </div>
                    </div>

<br>

<details class="govuk-details" data-module="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
    <b>URL, errors and notes</b>
    </span>
  </summary>
  <div class="govuk-details__text">
    <b>URL: /request-invitation-code</b>
  </div>
</details>



</form>



{% endblock %}
