{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<form method="post" action="your-date-of-birth">

                    <div class="govuk-grid-row">
                      <div class="govuk-grid-column-two-thirds">

                        <h1 class="govuk-heading-xl">
                          You aren't eligible to make a claim yet...
                        </h1>

                            <p class="govuk-body">
                          Based on the information you have provided, you still have a little
                          wait on your hands...
                            </p>


                      </div>
                    </div>

</form>



{% endblock %}
