{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<form method="post" action="date-of-birth">

                    <div class="govuk-grid-row">

                      <div class="govuk-grid-column-two-thirds">
                        <span class="govuk-caption-l">Request an invitation code
                          <br></span>
                        <h1 class="govuk-heading-xl">
                          What is your name?
                        </h1>

                        <div class="govuk-form-group">
                          <label class="govuk-label" for="full-name">
                            First name
                          </label>
                          <input class="govuk-input" id="full-name" name="full-name" type="text" spellcheck="false" autocomplete="name"></div>

                          <div class="govuk-form-group">
                            <label class="govuk-label" for="full-name">
                            Last name
                            </label>
                            <input class="govuk-input" id="full-name" name="full-name" type="text" spellcheck="false" autocomplete="name"></div>

                        <button class="govuk-button" data-module="govuk-button">
                          Continue
                        </button>

                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                  
                      </div>
                      <div class="column-one-third">
                        {% include 'includes/parts/helpstart.html' %}
                      </div>
                    </div>

                    <br>
                      <details class="govuk-details" data-module="govuk-details">
                        <summary class="govuk-details__summary">
                          <span class="govuk-details__summary-text">
                          <b>URL, errors and notes</b>
                          </span>
                        </summary>
                        <div class="govuk-details__text">
                          <b>URL:</b> /your-name<br>
                          <b>Error messages:</b> 
                          <br>Empty: Enter your first name
                          <br>Invalid: First name must start with a letter and only include letters, hyphens, apostrophes, full stops, spaces and ampersands
                          <br>Empty: Enter your last name
                          <br>Invalid: Last name must start with a letter and only include letters, hyphens, apostrophes, full stops, spaces and ampersands
                        </div>
                      </details>


</form>



{% endblock %}
