{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<form method="post" action="date-of-birth">

  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1)"
                    }) }}

                    <div class="govuk-grid-row">

                      <div class="govuk-grid-column-two-thirds">
                        <span class="govuk-caption-l">Request an invitation code
                          <br></span>
                        <h1 class="govuk-heading-xl">
                          What is your name?
                        </h1>

                        <div class="govuk-form-group">
                          <label class="govuk-label" for="full-name">
                            First name
                          </label>
                          <input class="govuk-input" id="full-name" name="full-name" type="text" spellcheck="false" autocomplete="name"></div>

                          <div class="govuk-form-group">
                            <label class="govuk-label" for="full-name">
                            Last name
                            </label>
                            <input class="govuk-input" id="full-name" name="full-name" type="text" spellcheck="false" autocomplete="name"></div>

                        <button class="govuk-button" data-module="govuk-button">
                          Continue
                        </button>

                      </div>
                    </div>

                    <br>
                      <details class="govuk-details" data-module="govuk-details">
                        <summary class="govuk-details__summary">
                          <span class="govuk-details__summary-text">
                          <b>URL, errors and notes</b>
                          </span>
                        </summary>
                        <div class="govuk-details__text">
                          <b>URL:</b> your-name<br>
                          <b>Error messages:</b> Enter your first name<br>
Enter your last name
                        </div>
                      </details>


</form>



{% endblock %}
