{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<form method="post" action="check-answers">

  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1)"
                    }) }}

                    <div class="govuk-grid-row">

                      <div class="govuk-grid-column-two-thirds">
                        <span class="govuk-caption-l">Request an invitation code
                          <br></span>
                        <h1 class="govuk-heading-xl">
                          What is your address?
                        </h1>



                        <button class="govuk-button" data-module="govuk-button">
                          Continue
                        </button>

                      </div>
                    </div>

                    <br>
                      <details class="govuk-details" data-module="govuk-details">
                        <summary class="govuk-details__summary">
                          <span class="govuk-details__summary-text">
                          <b>URL, errors and notes</b>
                          </span>
                        </summary>
                        <div class="govuk-details__text">
                          <b>URL:</b> /home-address  <br>
                          <b>Error messages:</b>
                        </div>
                      </details>


</form>



{% endblock %}
