{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<form method="post" action="lived-abroad">

  <a href="your-details" class="govuk-back-link">Back</a>

  <br><br><br>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        You need to tell us your current address
      </h1>
      
  <p class="govuk-body-m">To get your State Pension you need to call us and let us know your current address.</p>

  <p class="govuk-body-m">You'll need your National Insurance number and we'll ask you to confirm some personal details.</p>

  <p><strong>England, Scotland and Wales</strong>
  <strong><br>Telephone:</strong>  0800 731 7898
  <strong><br>Textphone:</strong>  0800 731 7339 </p> 
    
  <p class="govuk-body-m">Monday to Friday, 8am to 6pm, except public holidays</p>
  
  <p><strong>Northern Ireland</strong>
  <strong><br>Telephone:</strong>  0808 100 2658
  <strong><br>Textphone:</strong>  0808 100 2198 </p> 
    
  <p class="govuk-body-m">Monday to Friday, 9am to 5pm, except public holidays</p>

  <p><strong>Overseas</strong>
  <strong><br>Telephone:</strong>  +44 (0) 191 218 7777
  <strong><br>Textphone:</strong>  +44 (0) 191 218 7280 </p> 
    
  <p class="govuk-body-m">Monday to Friday, 8am to 6pm UK time, except UK public holidays</p>

</section>


    </div>

  </div>

 

</form>


  {% endblock %}