{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds">
  <span class="govuk-caption-l">Request an invitation code
    <br></span>
<h1 class="govuk-heading-xl">Sorry, the service is unavailable</h1>

<p class="govuk-body">You will be able to request an invitation code from Monday 19 November 2022.</p>

<p class="govuk-body">We have not saved your answers. When the service is available, you will have to start again.</p>






                      </div>
                    </div>

                    <br>
                      <details class="govuk-details" data-module="govuk-details">
                        <summary class="govuk-details__summary">
                          <span class="govuk-details__summary-text">
                          <b>URL, errors and notes</b>
                          </span>
                        </summary>
                        <div class="govuk-details__text">
                          <b>URL:</b> /service-unavailable <br>
                        </div>
                      </details>


</form>



{% endblock %}
