<section class="font-xsmall" id="help">

  <h2 class="govuk-heading-m">Get help</h2>
  <h3 class="govuk-heading-s">Telephone: 0800 169 0154<br>
    Textphone: 0800 169 0254</h3>
<p>If you cannot hear or speak on the phone, use <a href="https://www.relayuk.bt.com">Relay UK (opens in a new tab)</a>: 18001 then 0800 169 0154</p>

<p><a href="https://service.signvideo.uk/webrtc//#/oneclickcall?dD1kd3AucGVuc2lvbmNyZWRpdEBzaWdudmlkZW8udWsmdT1hbm9ueW1vdXMmcD1hbm9ueW1vdXM=">Video relay service (opens in a new tab)</a> for British Sign Language (BSL) users - <a href="https://www.youtube.com/watch?v=Osx7FFxFpNY">check you can use this service (opens in a new tab)</a>

<p class="govuk-body-m">Monday to Friday, 9:30am to 3:30pm (closed on bank holidays)<br><a href="https://www.gov.uk/call-charges">Find out about call charges</a></p>



</section>
