{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <form method="post">


          <span class="govuk-heading-xl">Your answers do not match what is on your credit record
            <br></span>

            <p></p>

           <!-- <p>Some of the answers you gave do not match what is on your credit record.</p> -->

<p>You can still submit your claim for State Pension but we will phone you to confirm some details before assessing it.</p>

<p>If we cannot contact you by phone, we will try using email or text message.</p>

<p>There is no need to call us.</p>


      <button type="submit" class="govuk-button">
        Continue with your claim
      </button>

  </div>



</div>

</main>
</div>

{% endblock %}
