{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<form method="post" action="widow-dom">

  <a href="worked-abroad" class="govuk-back-link">Back</a>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        About your husband, wife or civil partner
      </h1>

      <div class="govuk-form-group">
        <label class="govuk-label" for="width-20">
        <b>  Their first name</b>
        </label>
        <input class="govuk-input govuk-input--width-20" id="width-20" name="width-20" type="text">
      </div>

      <div class="govuk-form-group">
        <label class="govuk-label" for="width-20">
        <b>Their surname</b>
        </label>
        <input class="govuk-input govuk-input--width-20" id="width-20" name="width-20" type="text">
      </div>

      <div class="govuk-form-group">
        <label class="govuk-label" for="other-name">
        <b>Other name</b>
        </label>
        <div id="other-name" class="govuk-hint">
        Include maiden name, former married names and changes of family name.
        </div>
        <input class="govuk-input govuk-input--width-20" id="width-20" name="width-20" type="text">
      </div>

    <p>  <a href="#" class="govuk-link govuk-link--no-visited-state">Add name</a></p>
    <div class="govuk-date-input" id="date-of-birth">
      <h3 class="govuk-heading-s">Their date of birth</h3>
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="date-of-birth-day">
            Day
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="date-of-birth-day" name="date-of-birth-day" type="text" inputmode="numeric">
        </div>
      </div>
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="date-of-birth-month">
            Month
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="date-of-birth-month" name="date-of-birth-month" type="text" inputmode="numeric">
        </div>
      </div>
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="date-of-birth-year">
            Year
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="date-of-birth-year" name="date-of-birth-year" type="text" inputmode="numeric">
        </div>
      </div>
    </div>


    <div class="govuk-date-input" id="date-of-death">
            <h3 class="govuk-heading-s">When did you get married or form a civil partnership? (optional)</h3>
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="date-of-death-day">
            Day
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="date-of-death-day" name="date-of-death-day" type="text" inputmode="numeric">
        </div>
      </div>
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="date-of-death-month">
            Month
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="date-of-death-month" name="date-of-death-month" type="text" inputmode="numeric">
        </div>
      </div>
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="date-of-death-year">
            Year
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="date-of-death-year" name="date-of-death-year" type="text" inputmode="numeric">
        </div>
      </div>
    </div>


    <div class="govuk-date-input" id="date-of-birth">
      <h3 class="govuk-heading-s">What date did they die?
</h3>
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="date-of-birth-day">
            Day
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="date-of-birth-day" name="date-of-birth-day" type="text" inputmode="numeric">
        </div>
      </div>
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="date-of-birth-month">
            Month
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="date-of-birth-month" name="date-of-birth-month" type="text" inputmode="numeric">
        </div>
      </div>
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="date-of-birth-year">
            Year
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="date-of-birth-year" name="date-of-birth-year" type="text" inputmode="numeric">
        </div>
      </div>
    </div>


      <button class="govuk-button" data-module="govuk-button">
        Continue
      </button>

      <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text">
      <b>URL, errors and notes</b>
      </span>
      </summary>
      <div class="govuk-details__text">
      <b>URL:</b> use existing <br><br>


      <b>Error messages:
        <br>  <br>
        Their first name<br>  <br>
          Empty - </b> Enter their first name	<br>
<b>Invalid	-</b> First name must start with a letter and only include letters, hyphens, apostrophes, full stops and spaces<br>
<b>Length -</b>	First name must be 70 characters or less



        <br>  <br>
      <b>  Their surname<br>  <br>
        Empty - </b>	Enter their surname<br>
        <b>Invalid	-</b>	Suname must start with a letter and only include letters, hyphens, apostrophes, full stops and spaces<br>
        <b>Length -</b>	Surname must be 70 characters or less      <br>  <br>

    <b>  Date of birth<br>  <br>
      Empty - </b> Enter a date of birth<br>
      <b>Incomplete - </b>Date of birth must include a day, month and year<br>
      <b>Invalid characters - </b>Enter a real date, like 12 2 2019<br>
      <b>Invalid date - </b>Date of birth must be earlier than the date you got married or formed a civil partnership and the date they died<br><br>

     <b>Date of marriage or civil partnership
<br>  <br>
Incomplete - </b>The date you got married or formed a civil partnership must include a day, month and year<br>
<b>Invalid characters - </b>Enter a real date, like 12 2 2019<br>
<b>Invalid date - </b>The date you got or formed a civil partnership must be later than their date of birth and earlier than the date they died<br><br>

      <b>Date of death
      <br>  <br>
      Empty - </b> Enter a date of death<br>
      <b>Incomplete - </b>Date of death must include a day, month and year<br>
      <b>Invalid characters - </b>Enter a real date, like 12 2 2019<br>
      <b>Invalid date - </b>Date they died must be later than the date of birth and the date of marriage or civil partnership<br>
      </div>
      </details>

    </div>

    <div class="column-one-third">
      {% include 'includes/parts/help.html' %}
    </div>

  </div>



</form>


  {% endblock %}
