{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<form method="post">

  <a href="" class="govuk-back-link">Back</a>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        How can we contact you?
      </h1>

      <p>We may contact you if we need further information.</p>
      <p class="govuk-hint">You must provide at least one phone number.</p>

      <div class="govuk-checkboxes" data-module="govuk-checkboxes">
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="contact" name="contact" type="checkbox" value="email"
            data-aria-controls="conditional-contact">
          <label class="govuk-label govuk-checkboxes__label" for="contact">
            Home phone
          </label>
        </div>
        <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-contact">
          <div class="govuk-form-group">
            <label class="govuk-label" for="contact-by-email">
              Home phone number
            </label>
            <input class="govuk-input govuk-!-width-one-third" id="contact-by-email" name="contact-by-email"
              type="email" spellcheck="false"></div>

        </div>
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="contact-2" name="contact" type="checkbox" value="phone"
            data-aria-controls="conditional-contact-2">
          <label class="govuk-label govuk-checkboxes__label" for="contact-2">
            Mobile phone
          </label>
        </div>
        <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-contact-2">
          <div class="govuk-form-group">
            <label class="govuk-label" for="contact-by-phone">
              Mobile phone number <span class="govuk-hint">We may use text messages to update you about your claim.</span>
            </label>
            <input class="govuk-input govuk-!-width-one-third" id="contact-by-phone" name="contact-by-phone" type="tel">
          </div>

        </div>
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="contact-3" name="contact" type="checkbox" value="text message"
            data-aria-controls="conditional-contact-3">
          <label class="govuk-label govuk-checkboxes__label" for="contact-3">
            Work phone
          </label>
        </div>
        <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-contact-3">
          <div class="govuk-form-group">
            <label class="govuk-label" for="contact-by-text">
              Work phone number
            </label>
            <input class="govuk-input govuk-!-width-one-third" id="contact-by-text" name="contact-by-text" type="tel">
          </div>

        </div>
      </div>
      <br><br>
      <div class="govuk-form-group">
        <h1 class="govuk-label-wrapper">
          <label class="govuk-label">
            <b>Email address</b>
            <p class="govuk-hint">We'll use this to confirm we've received your application.</p>
          </label>
        </h1>
        <input class="govuk-input govuk-input--width-20" type="text">
      </div>

      <button class="govuk-button" data-module="govuk-button" href="language-speak">
        Continue
      </button>

    </div>

    <div class="column-one-third">
      {% include 'includes/parts/help.html' %}
    </div>

  </div>



</form>


{% endblock %}