{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<form method="post">

  <a href="lived-abroad" class="govuk-back-link">Back</a>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-form-group">
        <h1 class="govuk-label-wrapper">
          <label class="govuk-label">
            <p class="govuk-heading-xl">Have you worked outside the UK since the age of 16?</p>
           <!-- <p class="govuk-hint">This does not include time spent serving overseas with the British armed forces.<br>
            </p> -->
          </label>
        </h1>
        <div class="govuk-radios govuk-radios--inline">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="worked-abroad" name="worked-abroad" type="radio" value="yes">
            <label class="govuk-label govuk-radios__label" for="worked-abroad">
              Yes
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="worked-abroad-2" name="worked-abroad" type="radio" value="no">
            <label class="govuk-label govuk-radios__label" for="worked-abroad-2">
              No
            </label>
          </div>
        </div>      </div>

        <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Help with this question
            </span>
          </summary>
          <div class="govuk-details__text">
            <p class="govuk-body">If you select yes we will ask you for:</p>
              <ul class="govuk-list govuk-list--bullet">
                <li>dates spent working outside the UK since the age of 16</li>
              </ul>

              <p class="govuk-body">We do not need to know about:</p>
              <ul class="govuk-list govuk-list--bullet">
                <li>time spent serving overseas with the British armed forces</li>
                <li>short periods working abroad where you were paid by a UK company</li>
              </ul>
          </div>
        </details>

      <button class="govuk-button" data-module="govuk-button">
        Continue
      </button>

    </div>

    <div class="govuk-grid-column-one-third">
      {% include 'includes/parts/help.html' %}
    </div>

  </div>



</form>


  {% endblock %}
